/*** web fonts ***/

@import url(https://fonts.googleapis.com/css?family=Questrial:400);

/*** basic reset ***/

body, h1, h2, ul, ol {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Questrial', Arial, sans-serif;
  margin: 20px auto 0;
  width: 80%;
}

li {
  list-style-type: none;

}

a {
  text-decoration: none;
  
}
