/*** web fonts ***/
@import url(https://fonts.googleapis.com/css?family=Luckiest+Guy:400);
@import url(https://fonts.googleapis.com/css?family=Questrial:400);


/*** basic reset ***/
box-sizing: inherit;{

}

body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {

    padding: 0;
}

body {
  font-family: 'Questrial', Arial, sans-serif;
  font-size: 1em;
  margin: 20px auto 0;
  width: 80%;
}

h1 {
  font-size: 5em;
}

header h1 {
  font-family: 'Luckiest Guy' cursive;
  font-size: 3em;

}

header {
  display: flex;
  justify-content: space-between;

}

header nav a {
    background-color: #f99d22;
    border-radius: 4px;
    color: inherit;
    padding: 0.5em;
    text-decoration: none;
}


nav ul {
  margin-top: 1em;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  text-decoration-color: black;
  width: 20em;

}

li {
  list-style-type: none;

}

nav a {
  text-decoration: none;

}
div#feature{
  border-radius: 4px;
    display: table;
    height: 30vh;
    text-align: center;
    width: 100%;
}

.cross {
    background: radial-gradient(circle, transparent 20%, slategray 20%, slategray 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, slategray 20%, slategray 80%, transparent 80%, transparent) 50px 50px, linear-gradient(#A8B1BB 8px, transparent 8px) 0 -4px, linear-gradient(90deg, #A8B1BB 8px, transparent 8px) -4px 0;
    background-color: slategray;
    background-size: 100px 100px, 100px 100px, 50px 50px, 50px 50px;
}


a.active {
    background-color: #e45026;
    color: #fff;
}

div#feature h1 {
    display: table-cell;
    vertical-align: middle;
}
.container {
  display: flex;
  flex-direction: column;

}

h2 {
  text-align: center;
}

.center-cite {
  display: flex;
  justify-content: center;
}

.html {
  background: url(/img/true-html5.png) no-repeat scroll center 5px/100px 100px;
  display: flex;
  flex-flow: column;
}
