/*** web fonts ***/
@import url(https://fonts.googleapis.com/css?family=Luckiest+Guy:400);
@import url(https://fonts.googleapis.com/css?family=Questrial:400);

/*** basic reset ***/

body, h1, h2, ul, ol {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Questrial', Arial, sans-serif;
  font-size: 1em;
  margin: 20px auto 0;
  width: 80%;
}

h1 {
  font-size: 3em;
}

header h1 {
  font-family: 'Luckiest Guy' cursive;
  font-size: 2em;

}

header {
  display: flex;
  justify-content: space-between;

}

nav ul {
  margin-top: 1em;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  text-decoration-color: black;
  width: 20em;


}

li {
  list-style-type: none;

}

nav a {
  text-decoration: none;

}
div#feature{
  border-radius: 4px;
    display: table;
    height: 30vh;
    text-align: center;
    width: 100%;
}
